<script>
    'use strict';
    let fim = parseInt(prompt('Digite um número: '),10);
    let saida = '';
    for (let i = 1; i < fim + 1; i++) saida += "\n" + (3 * i);
    alert(saida);
</script>
<script>
    'use strict';
    let vel = parseFloat(prompt('Digite a velocidade do carro: '));
    if (vel > 80) {
        alert('Você foi multado!');
    }
</script>
